<table>
    <thead>
        <tr>
            <th>clave</th>
            <th>marca</th>
            <th>precio</th>
            <th>fechaLanzamiento</th>
            <th>RAM</th>
            <th>Almacenamiento</th>
            <th>Cantidad Camaras</th>

            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {{#each celular}}
        <tr>
            <td>{{@index}}</td>
            <td>{{clave}}</td>
            <td>{{marca}}</td>
            <td>{{precio}}</td>
            <td>{{fechaLanzamiento}}</td>
            <td>{{ram}}</td>
            <td>{{almacenamiento}}</td>
            <td>{{cantCamaras}}</td>

            <td>
                <a href="/updateCelulares/{{_id}}">Actualizar</a>
                <a href="/deleteCelulares/{{_id}}">Eliminar</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>